DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
REDIS_URL="rediss://default:PASSWORD@HOST:6379"
PORT=3000